* {
    box-sizing: border-box;
    margin: 0;
    background-color: #a2a2a2;
}

nav {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#monthPicker, #yearPicker {
    background-color: #e1e1e1;
}

#calendar-container {
    background-color: #ececec;
    padding: 10px;
}

table {
    border-collapse: collapse;

}


th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;

}
.selected {
    background-color: yellow;
}

#sutki-container {
    padding: 15px;
    background-color: bisque;
}

#todayButton {
    height: 200px;
}


button {
    border-color: #e7e7e7;
    background: rgb(231,231,231);
    background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
}

button:hover {
    background: rgb(31,163,0);
    background: linear-gradient(0deg, rgba(31,163,0,1) 0%, rgba(1,163,0,1) 44%, rgba(0,203,8,1) 49%, rgba(0,255,29,1) 100%);
}