* {
    box-sizing: border-box;
    margin: 0;
    background-color: #a2a2a2;
    font-family: Arial, sans-serif;
}

#wrapper {
    margin: 10px;
}

nav {
    height: 200px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > * {
    margin-left: 3px;
}

#monthPicker, #yearPicker, #monthPicker > option, #yearPicker > option, #timeSelect-minusday > option,  #timeSelect > option {
    background-color: #e1e1e1;
}

#calendar-container {
    padding: 15px;
}

#calendar-container, #calendar-selects, #datepicker-minusday, #datepicker, #timeSelect-minusday, #timeSelect {
    background-color: #ececec;
}

#time-hour, #time-s-hour, #time-po-hour {
    margin-left: 5px;
}

#timeSelect-minusday, #timeSelect {
    padding: 1px;
}

#calendar-selects {
    padding: 0 0 10px;
    display: flex;
    justify-content: right;
}

#calendar-selects > select {
    margin-left: 5px;
}

table {
    border-collapse: collapse;
}


th, td {
    border: 1px solid black;
    padding: 0 5px;
    text-align: center;
    cursor: pointer;
    background-color: #eeeeee;
    height: 20px;
}

.selected {
    background-color: #cbcbcb;
}

#sutki-grid {
    padding: 40px 40px 10px 10px;
    height: inherit;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#sutki-grid > div {
    padding: 5px;
}

#sutki-grid > div > button {
    width: 100%;
    height: 100%;
}

#div-smena { grid-area: 1 / 1 / 2 / 3; }
#div-smena > button {
}
#div-manual { grid-area: 1 / 3 / 3 / 4; }
#div-smena-day { grid-area: 2 / 1 / 3 / 2; }
#div-smena-night { grid-area: 2 / 2 / 3 / 3; }

#sutki-container, #time-container {
    border: 1px solid black;
    height: inherit;
    background-color: bisque;
}

#sutki-container > div, #time-container > div {
    display: grid;
    background-color: bisque;
}

#sutki-container, #sutki-container > div > div, #time-container, #time-container > div > div {
    background-color: bisque;
}

#todayButton, #submitButton {
    height: inherit;
}

button {
    border-color: #e7e7e7;
    background: rgb(231,231,231);
    background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
}

button:hover {
    background: rgb(31,163,0);
    background: linear-gradient(0deg, rgba(31,163,0,1) 0%, rgba(1,163,0,1) 44%, rgba(0,203,8,1) 49%, rgba(0,255,29,1) 100%);
}

#submitButton {
    border-color: #5c5e72;
    color: white;
    background: rgb(47,47,47);
    background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(119,119,119,1) 100%);
}

#submitButton:hover {
    border-color: #5c5e72;
    color: white;
    background: rgb(92,92,92);
    background: linear-gradient(0deg, rgba(92,92,92,1) 0%, rgba(185,185,185,1) 100%);
}

#time-grid {
    padding: 40px 0 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#time-empty { grid-area: 1 / 1 / 2 / 6; }
#time-data{ grid-area: 2 / 2 / 3 / 3; }
#time-hour { grid-area: 2 / 4 / 3 / 5; }
#time-s { grid-area: 3 / 1 / 4 / 2; }
#time-s-data { grid-area: 3 / 2 / 4 / 4; }
#time-s-hour { grid-area: 3 / 4 / 4 / 5; }
#time-po { grid-area: 5 / 1 / 6 / 2; }
#time-po-data { grid-area: 5 / 2 / 6 / 4; }
#time-po-hour { grid-area: 5 / 4 / 6 / 5; }

#time-s, #time-po {
    margin-left: 10px;
}

iframe {
    width: 100%;
    height: 75vh;
    background: white;
}