* {
    box-sizing: border-box;
    margin: 0;
    background-color: #a2a2a2;
}

nav {
    height: 250px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > * {
    margin-left: 3px;
}

#monthPicker, #yearPicker {
    background-color: #e1e1e1;
}

#calendar-container {
    background-color: #ececec;
    padding: 10px;
}

table {
    border-collapse: collapse;

}


th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;

}

.selected {
    background-color: #cbcbcb;
}

#manual-button {
    height: 100%;
    width: 60px;
}

#sutki-grid {
    padding: 10px;
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
}

#div-smena { grid-area: 1 / 1 / 2 / 3; }
#div-manual { grid-area: 1 / 3 / 3 / 4; }
#div-smena-day { grid-area: 2 / 1 / 3 / 2; }
#div-smena-night { grid-area: 2 / 2 / 3 / 3; }

#sutki-container {
    border: 1px solid black;
    height: inherit;
    background-color: bisque;
}

#sutki-container > div {
    display: grid;
    background-color: bisque;
}

#sutki-container, #sutki-container > div > div {
    background-color: bisque;
}

#todayButton, #submitButton {
    height: inherit;
}

button {
    border-color: #e7e7e7;
    background: rgb(231,231,231);
    background: linear-gradient(0deg, rgba(231,231,231,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 5px;
}

button:hover {
    background: rgb(31,163,0);
    background: linear-gradient(0deg, rgba(31,163,0,1) 0%, rgba(1,163,0,1) 44%, rgba(0,203,8,1) 49%, rgba(0,255,29,1) 100%);
}

#submitButton {
    border-color: #5c5e72;
    color: white;
    background: rgb(47,47,47);
    background: linear-gradient(0deg, rgba(47,47,47,1) 0%, rgba(119,119,119,1) 100%);
}

#submitButton:hover {
    border-color: #5c5e72;
    color: white;
    background: rgb(92,92,92);
    background: linear-gradient(0deg, rgba(92,92,92,1) 0%, rgba(185,185,185,1) 100%);
}